repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    - id: check-docstring-first
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: check-toml
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: requirements-txt-fixer
    - id: trailing-whitespace

- repo: https://github.com/asottile/pyupgrade
  rev: v2.29.1
  hooks:
  - id: pyupgrade
    args: [--py38-plus]

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    args: ["--config=pyproject.toml"]
    files: "(sbi|tests|examples)"

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args: ["--settings-path=pyproject.toml"]
    files: "(sbi|tests|examples)"

- repo: https://github.com/pycqa/bandit
  rev: 1.7.0
  hooks:
  - id: bandit
    language: python
    language_version: python3
    types: [python]
    files: "(sbi|tests|examples)"

- repo: https://github.com/PyCQA/flake8
  rev: 5.0.1
  hooks:
   - id: flake8
     additional_dependencies: [
       flake8-typing-imports==1.14.0,
       flake8-pyproject==1.1.0.post0
     ]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.910-1
  hooks:
  - id: mypy
    args: ["--ignore-missing-imports"]
    files: "(sbi|tests|examples)"

- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.3.1
  hooks:
    - id: nbqa-black
    - id: nbqa-pyupgrade
      args: [--py37-plus]
    - id: nbqa-isort
      args: ['--profile=black']
    - id: nbqa-flake8
      args: ['--ignore=E501,E203,E302,E402,E731,W503']

- repo: https://github.com/jorisroovers/gitlint
  rev: v0.18.0
  hooks:
    - id: gitlint
    - id: gitlint-ci
