arviz==0.19.0
diffrax==0.6.0
dm-haiku==0.0.12
jax==0.4.31
jaxlib==0.4.31
session_info==1.0.0
matplotlib==3.9.2
mne==1.8.0
moabb==1.1.1
rpy2==3.5.12
surjectors==0.3.3
tfp-nightly==0.25.0-dev20240815

./sbijax
jupyterlab
