-e .
ipykernel
ipython
nbsphinx
pandas
scikit-learn
session_info
sphinx
sphinx-autobuild
sphinx-book-theme>=1.1.0
sphinx-copybutton
sphinx-math-dollar
sphinx_autodoc_typehints
sphinx_design
sphinx_fontawesome
sphinx_gallery
sphinxcontrib-bibtex
sphinxcontrib-fulltoc
